### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [ ]:
# Dependencies and Setup
import pandas as pd

# Read CSV and store DF
file_to_load = "Resources/purchase_data.csv"

purchase_data = pd.read_csv(file_to_load)

In [149]:
#Display statistical overview of file

purchase_data.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

## Player Count

* Display the total number of players

In [147]:
purchase_data.describe()

# Use length of list "SN" aka screen names

total_players= len(purchase_data["SN"].value_counts())

# Create Data Frame for Player Count

player_count = pd.DataFrame({"Total Players" : [total_players]})
player_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [146]:
# Unique items, average price, purchase count, and revenue

unique_items = len((purchase_data["Item ID"]).unique())
average_price= (purchase_data["Price"]).mean()
number_of_purchases= (purchase_data["Purchase ID"]).count()
total_revenue= (purchase_data["Price"]).sum()

# DF

analysis_df = pd.DataFrame({"Number of Unique Items":[unique_items],
                           "Average Price":[average_price], 
                           "Number of Purchases": [number_of_purchases], 
                           "Total Revenue": [total_revenue]})

# Display

analysis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [95]:
# Group purchase_data by Gender
gender = purchase_data.groupby("Gender")

# Find gender total by screen name count
gender_total = gender.nunique()["SN"]

# Find Percentage 
player_percentage = gender_total / total_players * 100

# Create Data Frame
gender_demographics = pd.DataFrame({"Percentage of Players": player_percentage, 
                                    "Gender Total": gender_total})

# Format and Display

gender_demographics = gender_demographics.round(2)
gender_demographics

                       Percentage of Players  Gender Total
Gender
Female                                 14.06            81
Male                                   84.03           484
Other / Non-Disclosed                   1.91            11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [143]:
    
# Avg. purchase price

avg_purchase_price = gender["Price"].mean()

# Avg. purchase total per person etc. by gender

avg_purchase_total = gender["Price"].sum()

avg_purchase_per_person = avg_purchase_total / total_count_gender 

# Create Data Frame

purchase_df = pd.DataFrame({"Purchase Count":purchase_count, 
                           "Average Purchase Price":avg_purchase_price, 
                           "Average Purchase Total":avg_purchase_total,
                           "Average Total Per Person": avg_purchase_per_person})

# Format and Display

purchase_df.style.format({"Average Purchase Total":"${:,.2f}",
                          "Average Purchase Price":"${:,.2f}",
                          "Average Total Per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [137]:
# Make bins by ages
age_bin = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
age_groups= ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data["Age Group"] = pd.cut(purchase_data["Age"],age_bin, labels=age_groups)
purchase_data

# Grouby DF
age_groupby = purchase_data.groupby("Age Group")

# Total players by age 
age_total = age_groupby["SN"].nunique()

# Percentages by age 
percentage_by_age = (age_total/total_players) * 100

# Summary DF
age_demographics = pd.DataFrame({"Percentage of Players": percentage_by_age, "Total Count": age_total})

# Format and Display 
age_demographics.style.format({"Percentage of Players":"{:,.2f}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [138]:
# Count by age group
purchase_count_age = age_grouped["Purchase ID"].count()

# Avg price by age group 
avg_purchase_price_age = age_grouped["Price"].mean()

# Total purchase total by age group 
total_purchase_total = age_grouped["Price"].sum()

# Calculate the average purchase per person in the age group 
avg_purchase_per_person_age = total_purchase_total/age_total

# Create data frame with obtained values
age_demographics = pd.DataFrame({"Purchase Count": purchase_count_age,
                                 "Average Purchase Price": avg_purchase_price_age,
                                 "Total Purchase Value":total_purchase_total,
                                 "Average Purchase Total per Person": avg_purchase_per_person_age})

# Format the data frame with no index name in the corner
age_demographics.index.name = None

# Format with currency style
age_demographics.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [139]:
# Grouby screen name
spender_stats = purchase_data.groupby("SN")

# Total purchases by name
purchase_count_spender = spender_stats["Purchase ID"].count()

# Average purchase by name 
avg_purchase_price_spender = spender_stats["Price"].mean()

# Purchase total 
purchase_total_spender = spender_stats["Price"].sum()

# New DF
top_spenders = pd.DataFrame({"Purchase Count": purchase_count_spender,
                             "Average Purchase Price": avg_purchase_price_spender,
                             "Total Purchase Value":purchase_total_spender})

# Sort 
format_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()

# Format and display
format_spenders.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [140]:
# New DF
items_df = purchase_data[["Item ID", "Item Name", "Price"]]

# Groupby
items = items_df.groupby(["Item ID","Item Name"])

# Purchase count by item
purchase_count_item = items["Price"].count()

# Purchase value by item
purchase_value = (items["Price"].sum()) 

# Individual price
item_price = purchase_value/purchase_count_item

# New DF
most_popular = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value})

# Sort
popular = most_popular.sort_values(["Purchase Count"], ascending=False).head()

# Format and Display
popular.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [136]:
# Sort
profitable = most_popular.sort_values(["Total Purchase Value"],
                                                   ascending=False).head()
# Format 
profitable.style.format({"Item Price":"${:,.2f}",
                        "Total Purchase Value":"${:,.2f}"})